body, button.mainLabel, button.restart {
  background-color: #3c4a54;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #e2e2e2;
  font-weight: 300; }

form {
  margin: 0 auto;
  width: 425px; }
  form div {
    margin-bottom: 20px; }

fieldset {
  padding: 15px 25px;
  -webkit-border: 1px solid #e2e2e2;
  -moz-border: 1px solid #e2e2e2;
  -ms-border: 1px solid #e2e2e2;
  border: 1px solid #e2e2e2; }

label {
  display: inline-block;
  text-align: left; }

.textInput, textarea {
  width: 100%;
  box-sizing: border-box;
  -webkit-border: 0.25px solid #e2e2e2;
  -moz-border: 0.25px solid #e2e2e2;
  -ms-border: 0.25px solid #e2e2e2;
  border: 0.25px solid #e2e2e2;
  background-color: #80848a;
  margin-top: 7px;
  height: 25px; }

textarea {
  height: 50px; }

button.mainLabel {
  padding: 4px 8px;
  margin-right: 15px;
  font-weight: bold;
  -webkit-border: 2px solid #e2e2e2;
  -moz-border: 2px solid #e2e2e2;
  -ms-border: 2px solid #e2e2e2;
  border: 2px solid #e2e2e2; }

button.restart {
  text-decoration: underline;
  border: none; }

p {
  margin-bottom: 0;
  font-weight: bold; }

.mainLabel {
  font-weight: bold; }

legend {
  font-size: 21px;
  font-weight: bold; }
